body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/275/original/notte_stellata.jpeg?1707854684);
}

header {
  border-bottom: 1px solid #57b2e7;
  padding: 0 0 30px 0;
}

main {
  font-size: 20px;
}

.weather-app {
  background-color: rgba(245, 245, 255, 0.624);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px #57b2e7;
  border-radius: 16px;
  padding: 30px;
  font-family: "Dancing Script", cursive;
}

a {
  color: #254688;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 20px;
  padding: 15px 20px;
  font-family: "Dancing Script", cursive;
}

.search-form-button {
  background: #254688;
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Dancing Script", cursive;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 48px;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature-value {
  font-size: 55px;
  font-weight: bold;
  margin-top: 19px;
}

.weather-app-icon {
  width: 80px;
  height: 80px;
  padding: -20px 0px;
}

.weather-app-temperature-unit {
  margin-top: 10px;
  font-size: 24px;
}

.weather-app-details strong {
  color: #254688;
}

main {
  padding: 30px 0;
  font-size: 26px;
  line-height: 48px;
}
footer {
  border-top: 1px solid #57b2e7;
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.671);
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #254688df;
  font-size: 26px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #141b2a;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
