body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/115/275/original/notte_stellata.jpeg?1707854684);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px 0;
}

main {
  font-size: 20px;
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.594);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  font-family: "Dancing Script", cursive;
}

a {
  color: #254688;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 20px;
  padding: 15px 20px;
  font-family: "Dancing Script", cursive;
}

.search-form-button {
  background: #254688;
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: "Dancing Script", cursive;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 48px;
}

.weather-app-details {
  font-size: 20px;
  color: rgba(39, 33, 66 0.4);
  line-height: 48px;
}

.weather-app-details strong {
  color: #254688;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature-value {
  font-size: 55px;
  font-weight: bold;
  margin-top: 19px;
}

.weather-app-icon {
  width: 80px;
  height: 80px;
  padding: -20px 0px;
}

.weather-app-temperature-unit {
  margin-top: 10px;
  font-size: 24px;
}

main {
  padding: 30px 0;
  font-size: 26px;
  line-height: 48px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.671);
}
